@*@model IEnumerable<TeachersSurvey.Models.TblQuestions>*@
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        int number = 1;
        int sour = 0;
    }
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <div class="card-body">
        <div class="card-title text-center">Eğitmen Anketi Yanıtlama Sayfası</div>
        <hr>
        @using (Html.BeginForm("Create", "Answer"))
        {
            <div class="form-group row">
                @Html.DropDownList("Code", (SelectList)ViewBag.TblTeacher, "Lütfen Eğitmen Seçiniz", new { @class = "form-control" })
            </div>

            foreach (var item in Model)
            {
                <input name="@item.Question" id="Question_@item.Id" value="@item.Question" type="hidden" />
                <span style="font-weight:bold">@number)</span>
                @item.Question
                <br /><br />

                <div class="icheck-material-primary icheck-inline ">
                    <input type="radio" id="Id_@item.Id" name="Answer_@item.Id" class="radio_@item.Id" value="@TeachersSurvey.Constants.AnswerType.Yes">
                    <label for="Id_@item.Id">@TeachersSurvey.Constants.AnswerType.Yes</label>

                    <input type="radio" id="Id_@sour" name="Answer_@item.Id" class="radio_@item.Id" value="@TeachersSurvey.Constants.AnswerType.No">
                    <label for="Id_@sour">@TeachersSurvey.Constants.AnswerType.No</label>
                </div>

                <script>
                    $('.radio_@item.Id').click(function () {
                        var formdata = new FormData();

                        var code = $('#Code').val();
                        formdata.set("Code", code);


                        var fullname = $('#Code :selected').val();
                        formdata.set("FullName", fullname);

                        var question = $('#Question_@item.Id').val();
                        formdata.set("Question", question);

                        var answer = $('input[name="Answer_@item.Id"]:checked').val();
                        formdata.set("Answer", answer);

                        if (code == '') {
                            $('#warningmessage').modal('show');
                            return;
                        }



                        $.ajax({
                            url: "/Answer/SendData",
                            data: formdata,
                            type: "POST",
                            cache: false,
                            contentType: false,
                            processData: false,
                            successs: function (data) {
                                if (data == "True") {
                                }
                            },
                            error: function (data) {
                                alert("Hata oluştu!");
                            }
                        });
                    });
                </script>

                sour--;
                number++;
            }

            <div class="form-group row">
                <label for="input-1" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i> Kaydet</button>
                </div>
            </div>
        }
    </div>
    <div class="modal fade" id="warningmessage">
        <div class="modal-dialog">
            <div class="modal-content border-warning">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title text-white"><i class="fa fa-star"></i> Uyarı</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Lütfen bir kişi seçiniz!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                </div>
            </div>
        </div>
    </div>


